.body {
  background: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/*                BLANCO                    */
.nombre {
  width: 100%;
  height: 60px;
  background: #f5f5f5;
  border-radius: 70px 70px 0px 0px;
  border: 3px solid #f5f5f5;
  margin: -3px;
}
/*                MARRON                    */
.contacto {
  width: 100%;
  height: 40%;
  background: #795548;
  border-radius: 70px;
  border: 3px solid #f5f5f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: -3px;
}
.foto {
  width: 90px;
  height: 90px;
  background-color: #212121;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  border: 3px solid #ffffff;
  margin: 11px 14px 14px 14px;
}

/*                GRIS OSCURO                  */
.tecnologias {
  width: 100%;
  height: 75%;
  background: #616161;
  border-radius: 70px;
  border: 3px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: -3px;
}

/*               GRIS CLARO                    */
.blandas {
  width: 100%;
  height: 75%;
  background: #bdbdbd;
  border-radius: 70px;
  border: 3px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  margin: -3px;
}
/*                BLANCO                    */
.about {
  width: 400px;
  height: 550px;
  background: #f5f5f5;
  border-radius: 70px;
  border: 3px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  margin: -3px;
}

@media (max-width: 500px) {
  .nombre {
    height: 45px;
    border-radius: 50px 50px 0px 0px;
    border: 2px solid #ffffff;
  }
  .contacto {
    border-radius: 50px;
    border: 2px solid #ffffff;
  }
  .foto {
    width: 60px;
    height: 60px;
    margin: 12px;
    border: 2px solid #ffffff;
  }
  .tecnologias {
    border-radius: 50px;
    border: 2px solid #ffffff;
  }
  .blandas {
    border-radius: 50px;
    border: 2px solid #ffffff;
  }
  .about {
    width: 300px;
    height: 400px;
    border-radius: 50px;
    border: 2px solid #ffffff;
  }
}
